body {
    padding: 20px !important;
    height: auto;
}
.container {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}
#tbl_listings thead th {
    /* text-align: center; */
}
.btn-export {
    float: right;
}
